<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">

  <title>BarterBay</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/css/templatemo-stand-blog.css">
  <link rel="stylesheet" href="/assets/css/owl.css">
  <link rel="stylesheet" href="/assets/css/index.css">
  <!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <!-- <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>   -->
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h2>BarterBay<em>.</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Individual Barter
                <span class="sr-only">(current)</span>
              </a>
            </li>


            <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" href="/group">Business Barter</a> -->
            <!-- </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/deals/true">My Deals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/deals/false">Deals Completed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/logout">Logout</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <!-- Banner Starts Here -->
  <div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>Post Details</h4>
              <h2>Single blog post</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Banner Ends Here -->

  <section class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-content">
            <div class="row">
              <div class="col-lg-8">
                <span>BarterBay</span>
                <h4>Exchange Things With Ease</h4>
              </div>
              <!-- <div class="col-lg-4">
                  <div class="main-button">
                    <a rel="nofollow" href="https://templatemo.com/tm-551-stand-blog" target="_parent"></a>
                  </div>
                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="blog-posts grid-system">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              <div class="col-lg-12">
                <div class="blog-post">
                  <div class="blog-thumb">
                    <img src="<%=post.url%>" alt="">
                  </div>
                  <div class="down-content">
                    <span>
                      <%= post.name%>
                    </span>
                    <p>Product Id : <%= post.id%>
                    </p>
                    <ul class="post-info">
                      <h4>Tags:</h4>
                      <% for(var tag of post.tags){ %>
                        <li><a href="/user/search/<%= tag %>">
                            <%= tag %>
                          </a></li>
                        <% } %>
                    </ul>
                    <p>
                      <%= post.desc %>
                    </p>
                    <%if(isUser){%>
                      <a href="/user/message/<%= post._id%>">
                        <h4>See My chats</h4>
                      </a>
                      <%}else{%>
                        <div class="modal" id="modal">
                          <!-- Modal background -->
                          <div class="bg"></div>
                          <div class="modal-container" style="width: 60%;">

                            <div class="modal-top">
                              <span class="close" id="close">&times;</span>
                            </div>
                            <%if(user.score>post.score||user.score==post.score){%>
                              <div class="modal-form" style="padding-bottom: 5px;">
                                <h3>Are You Sure You Wanna Buy <%= post.name%> with <%= post.score%> Trade Credits</h3>
                              </div>
                              <div class="modal-form" style="padding-bottom: 5px;">
                                <h3>Your Current Trade Credits: <%=user.score%>
                                </h3>
                              </div>
                              <div class="cta">
                                <a href="/user/buy/<%= post._id%>"> <button>Submit</button></a>
                              </div>
                              <%}else{%>
                                <div class="modal-form" style="padding-bottom: 5px;">
                                  <h3>Not Enought Trade Credits</h3>
                                </div>
                                <%}%>
                          </div>
                        </div>
                        <div class="modal" id="modal1">
                          <!-- Modal background -->
                          <div class="bg"></div>
                          <div class="modal-container" style="width: 60%;">
                            <div class="modal-top">
                              <span class="close" id="close1">&times;</span>
                            </div>
                            <%if(user.score>post.score||user.score==post.score){%>
                              <div class="modal-form" style="padding-bottom: 5px;">
                                <h3>For how many hours you want to rent <%= post.name%> with <%= post.perhour%> Trade
                                      Credits.</h3>
                                <!-- //debo here -->
                                <form action="/user/perhour/<%=post._id%>" method="POST">
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <input type="number" id="hrs" name="hrs" placeholder="Enter the number of hours">
                                    </div>
                                    <div class="col-lg-12">
                                      <div class="cta">
                                        <button>Submit</button>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-form" style="padding-bottom: 5px;">
                                <h3>Your Current Trade Credits: <%=user.score%>
                                </h3>
                              </div>
                             
                              <%}else{%>
                                <div class="modal-form" style="padding-bottom: 5px;">
                                  <h3>Not Enought Trade Credits</h3>
                                </div>
                                <%}%>
                          </div>
                        </div>
                        <%if( post.score!=0){%>
                          <button type="submit" id="btn">
                            <h4>Buy with <%= post.score%> Trade Credits</h4>
                          </button>
                          <%}%>
                            <br>
                            <%if( post.perhour!=0){%>
                              <button type="submit" id="btn1">
                                <h4>Rent with <%= post.perhour%> Trade Credits for an hour</h4>
                              </button>
                              <%}%>
                                <br>
                                <a href="/user/chat/<%= post.user%>/<%= post._id%>">
                                  <h4>Chat With User</h4>
                                </a>
                                <%}%>
                                  <!-- <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Best Templates</a>,</li>
                              <li><a href="#">TemplateMo</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div> -->
                                  <div style="*{
                        margin: 0;
                        padding: 0;
                    }
                    .rate {
                        float: left;
                        height: 46px;
                        padding: 0 10px;
                    }
                    .rate:not(:checked) > input {
                        position:absolute;
                        top:-9999px;
                    }
                    .rate:not(:checked) > label {
                        float:right;
                        width:1em;
                        overflow:hidden;
                        white-space:nowrap;
                        cursor:pointer;
                        font-size:30px;
                        color:#ccc;
                    }
                    .rate:not(:checked) > label:before {
                        content: '★ ';
                    }
                    .rate > input:checked ~ label {
                        color: #ffc700;    
                    }
                    .rate:not(:checked) > label:hover,
                    .rate:not(:checked) > label:hover ~ label {
                        color: #deb217;  
                    }
                    .rate > input:checked + label:hover,
                    .rate > input:checked + label:hover ~ label,
                    .rate > input:checked ~ label:hover,
                    .rate > input:checked ~ label:hover ~ label,
                    .rate > label:hover ~ input:checked ~ label {
                        color: #c59b08;
                    }
                    
                    /* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */">
                                    <!-- <div class="rate" style="">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">★</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">★</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">★</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">★</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">★</label>
                      </div> -->
                                  </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item comments">
                  <div class="sidebar-heading">
                    <h2>
                      <%= post.comment.length %> comments
                    </h2>
                  </div>
                  <div class="content">
                    <ul>
                      <% for(var i of post.comment){ %>
                        <li>
                          <div class="right-content">
                            <h4>
                              <%=i.name%>
                            </h4>
                            <p>
                              <%=i.desc%>.
                            </p>
                          </div>
                        </li>
                        <br>
                        <% } %>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item submit-comment">
                  <div class="sidebar-heading">
                    <h2>Your comment</h2>
                  </div>
                  <div class="content">
                    <form id="comment" action="/user/comment/<%=post._id%>" method="POST">
                      <div class="row">

                        <div class="col-lg-12">
                          <fieldset>
                            <textarea rows="6" id="message" name="comment" placeholder="Type your comment"
                              required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button">Submit</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <%if(!isUser){%>
                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>Your Exchange Product</h2>
                    </div>
                    <div class="content">
                      <form id="comment" action="/user/barter/<%=post._id%>" method="POST">
                        <div class="row">

                          <div class="col-lg-12">
                            <fieldset>
                              <input rows="1" id="message" name="uniq" placeholder="Type your product id"
                                required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Submit</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>Your Offered Trade Credits</h2>
                    </div>
                    <div class="content">
                      <form id="comment" action="/user/credits/<%=post._id%>" method="POST">
                        <div class="row">

                          <div class="col-lg-12">
                            <fieldset>
                              <input rows="1" id="message" name="credits" placeholder="Type your Offered Trade Credits"
                                required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Submit</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <%}else{%>
                  <div class="col-lg-12">
                    <div class="sidebar-item comments">
                      <div class="sidebar-heading">
                        <h2>
                          <%= post.deals.length %> Deals
                        </h2>
                      </div>
                      <div class="content">
                        <ul>
                          <% for(var i of post.deals){ %>
                            <li>
                              <div class="author-thumb">
                                <img src="<%=i.url%>" alt="">
                              </div>
                              <div class="right-content">
                                <h4>
                                  <%=i.name%>
                                </h4>
                                <p>
                                  <%=i.desc%>.
                                </p>
                                <a href="/user/chat/<%=i.user%>/<%=i._id%>">Chat</a>
                                <a href="/user/accept/<%=post._id%>/<%=i._id%>">Accept</a>
                                <a href="/user/post/<%=i._id%>">Post Link</a>
                              </div>
                            </li>

                            <br>
                            <% } %>

                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="sidebar-item comments">
                      <div class="sidebar-heading">
                        <h2>
                          <%= post.credits.length %> Deals with Trade Credits
                        </h2>
                      </div>
                      <div class="content">
                        <ul>
                          <% for(var i of post.credits){ %>
                            <li>
                              <div class="author-thumb">
                                <img src="<%=i.url%>" alt="">
                              </div>
                              <div class="right-content">
                                <h4>
                                  <%=i.name%>
                                </h4>
                                <p>
                                  <%=i.amount%>.
                                </p>
                                <a href="/user/chat/<%=i.user%>/<%=i._id%>">Chat</a>
                                <a href="/user/acceptCredits/<%=post._id%>/<%=i.user%>/<%=i.amount%>">Accept</a>
                                <!-- <a href="/user/post/<%=i._id%>">Post Link</a> -->
                              </div>
                            </li>

                            <br>
                            <% } %>

                        </ul>
                      </div>
                    </div>
                  </div>
                  <%}%>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="row">
              <div class="col-lg-12">
                <div class="sidebar-item search">
                  <form action="/user/search" id="search_form" name="gs" method="POST">
                    <input type="text" name="search" class="searchText" placeholder="type to search..."
                      autocomplete="on" />
                  </form>
                </div>
              </div>
              <!-- <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="post-details.html">
                          <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                          <span>May 31, 2020</span>
                        </a></li>
                        <li><a href="post-details.html">
                          <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                          <span>May 28, 2020</span>
                        </a></li>
                        <li><a href="post-details.html">
                          <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                          <span>May 14, 2020</span>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">- Nature Lifestyle</a></li>
                        <li><a href="#">- Awesome Layouts</a></li>
                        <li><a href="#">- Creative Ideas</a></li>
                        <li><a href="#">- Responsive Templates</a></li>
                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                        <li><a href="#">- Creative &amp; Unique</a></li>
                      </ul>
                    </div>
                  </div>
                </div>-->
              <div class="col-lg-12">
                <div class="sidebar-item tags">
                  <div class="sidebar-heading">
                    <h2>Tag Clouds</h2>
                  </div>
                  <div class="content">
                    <ul>
                      <li>
                        <a href="/user/search/Lifestyle">Lifestyle</a>
                      </li>
                      <li>
                        <a href="/user/search/Creative">Creative</a>
                      </li>
                      <li><a href="/user/search/Creative">Furniture</a></li>
                      <li>
                        <a href="/user/search/Household">Household</a>
                      </li>
                      <li>
                        <a href="/user/search/Vechile">Vechile</a>
                      </li>
                      <li><a href="/user/search/Clothes">Clothes</a></li>
                      <li>
                        <a href="/user/search/Electronics">Electronics</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Behance</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Dribbble</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2023 BarterBay</p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/owl.js"></script>
  <script src="/assets/js/slick.js"></script>
  <script src="/assets/js/isotope.js"></script>
  <script src="/assets/js/accordions.js"></script>


  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>
  <script>
    // Event listeners

    const btn = document.getElementById('btn')
    const modal = document.getElementById('modal')
    const close = document.getElementById('close')

    // Event listeners
    btn.addEventListener('click', () => {
      modal.style.display = 'inline-block'
      modal.className = 'modal animate__animated animate__bounceIn'
    })

    close.addEventListener('click', () => {
      modal.style.display = 'none'
    })

    window.addEventListener('click', (e) => {
      if (e.target === modal) {
        modal.style.display = 'none'
      }
    })
  </script>
  <script>
    // Event listeners

    const btn1 = document.getElementById('btn1')
    const modal1 = document.getElementById('modal1')
    const close1 = document.getElementById('close1')

    // Event listeners
    btn1.addEventListener('click', () => {
      modal1.style.display = 'inline-block'
      modal1.className = 'modal animate__animated animate__bounceIn'
    })

    close1.addEventListener('click', () => {
      modal1.style.display = 'none'
    })

    window.addEventListener('click', (e) => {
      if (e.target === modal1) {
        modal1.style.display = 'none'
      }
    })
  </script>
</body>

</html>